html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Avo, Helvetica, sans-serif;
  box-sizing: border-box;
}

/************Header and Nav **************/
.logo-img {
  display: flex;
  width: 10rem;
}

ul {
  list-style-type: none;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-container {
  display: flex;
  padding: 1rem;
  justify-content: center;
  flex-wrap: nowrap;
}

.nav-container a {
  color: #3d3d3d;
  text-decoration: none;
  padding: 0.9rem 1.2rem;
  font-size: 1.2rem;
}

.left-nav {
  display: flex;
  align-items: center;
}

.right-nav {
  display: flex;
  align-items: center;
}

.right-nav a {
  color: rgb(143, 138, 138);
}

#header-button a{
  color: #ffffff !important;
}

.nav-link,
button,
a {
  text-decoration: none;
}

h1,
h2,
h3 {
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: -0.095rem;
}

hr {
  color: rgb(255, 255, 255);
  width: 73%;
}

p {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 300;
  line-height: 1.5;
}

/*****************Global Button**************/

.myButton {
  background-color: #51bb8f;
  border-radius: 8px;
  border: 1px solid #7accaa;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3ab327;
}

.myButton:hover {
  background-color: #27a36d;
}

.myButton:active {
  position: relative;
  top: 1px;
}

/*****************Top container**************/

/* border: 1px solid red; */
.top-container {
  margin: 0 auto;
  padding-top: 5rem;
}
.first-head {
  text-align: center;
}

.top-container button {
  margin-bottom: 7rem;
}

.top-container-img img {
  width: 100%;
}

.second-part {
  display: flex;
  align-items: center;
  background: #f7f7f7;
}

.head-text-info {
  padding: 0 12rem;
  text-align: justify;
}

.top-container-text {
  font-size: 1rem;
  color: #717274;
  letter-spacing: 0;
  line-height: 28px;
}

.assets-img {
  width: 50%;
}

/* TOP CONTAINER SECOND PART*/
.second-part {
    display: flex;
    padding: 0;
    justify-content: center;
    padding-top: 2rem;
  }
  
  .head-text-info {
      width: 700px;
      padding: 0;
  }
  
  .second-part h2 {
      text-align: left;
  }
  
  .second-part p {
      text-align: left;
      margin: 0;
  }
  
  .second-part img {
      width: 600px;
      height: 320px;
  }
  
  /* USE CASES */

  .middle-container {
    display: flex;
    margin: 0 auto;
  }
  
  .use-case-box {
    border: 1px solid #e9e9e9;
    margin: 1rem;
    width: 70%;
    min-height: 340px;
    position: relative;
  }

  .use-case-content {
    display: flex;
    flex-direction: column;
  }



  .use-case-content h4 {
    width: 80%;
    margin: 0 auto;
    font-size: 1.6rem;
    padding-top: 1rem;
    margin-bottom: .5rem;
  }

  .use-case-content p {
    width: 70%;
    margin: 0 auto;
  }

  .use-case-content i {
    font-size: 2.65rem;
    margin-top: auto;
    margin-left: .5rem;
    color: #51BB8E;
  }

  .use-case-header {
    display: flex;
  }


  .middle-left-elements {
    display: flex;
    justify-content: flex-end;
  }

  .middle-right-elements {
    display: flex;
    justify-content: flex-start;
  }

  .use-case-result {
    background-color: #f6f6f6;
    padding: 20px 40px 30px 100px;
    position: absolute;
    bottom: 0;
    max-width: 100%;

  }

  .use-case-result-container {
    display: flex;
    margin: 0 -4rem;
  }


  .use-case-result i {
    font-size: 1.4rem;
    text-align: center;
    margin-top: .6rem;
  }

  .use-case-result span {
    padding: .7rem 1.3rem;
    width: 80%;
  }

  



/*****************Bottom container**************/

.bottom-container{
  background: #f7f7f7;
  padding: 2rem 0;
}

.platformButton{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
 }
.platform-text{
  display:block;
  text-align: center;
}
.platform-text p{
  color: #717274;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
  font-size: 1.125rem;
}

.platform{
  display: flex;
  align-content: center;
  padding: 2rem;
 }

.platform-item {
  padding: 2rem;
  border: 1px solid #ddd;
  text-align: left;
}
.platform-item h5{
  color:#2a2a2a;
  font-size: 1.125rem;
}
.platform-item li{
  list-style-type: disc;       
  list-style-position: inside;
  color: #858585;
}

/*******Report Section*******/


.fullReport{
  display: flex;
  padding-bottom: 6rem;
  position: relative;
  background-image: linear-gradient(210deg, #1A344C 1%, #121822 97%);
}

.report-description-text{
  color: #fff; 
  margin-left: 41.66666666666667%;
 
}

.report-image{
  display: block;
    position: absolute;
    height: 110%;
    top: -5%;
    bottom: -15px;
    right: 52%;
    width: auto;
 
}

.cloud-info{
  display: flex;
  align-content: center;
  background: #fff; 
  padding: 4rem 2rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
 
  
}
.cloud-image{
   margin-left:3rem;
}


/************** FOOTER SECTION***************/

.footer-demo{
  position: relative;
  text-align: center;
}

.footer-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f7f7f7;
  
}

#footerButton{
  position: absolute;
  top: 20%;
  left: 50%;
  
}

.footer-button{
 margin:0 2rem;
 text-align: center;
}

.footerLogo{
  text-align: center;
}
.footerLogo img{
  width: 3rem;
}

.footer-nav{
  display: flex;
  justify-content: space-around;
}

.nav-list li a {
    color: #858585;
    cursor: pointer;
    line-height: 50px;
    padding: 20px;
 
} 


.social-media{
  display: flex;
  justify-content: center;
}

.social-media a{
  padding:1.4rem;
  color: #2a2a2a;
}

.copyRight{
  text-align: center;
  
}
.copyRight p{
  color: #858585;
  font-size: .875rem;
}